
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Menu de Opções";
}
<link href="~/css/gti.css" rel="stylesheet" />
<br />
<h2>Serviços disponíveis</h2>
<br />
<div id="content" style="width: auto">
    <ul>
        <li>@Html.ActionLink("Consulta e atualização de boletos vencidos para pagamento", "Details", "Mob")</li>
        <li>@Html.ActionLink("Emissão de 2ª via do carnê de IPTU (2019)", "Details", "Mob")</li>
        <li>@Html.ActionLink("Emissão de 2ª via do carnê de ISS Fixo/Taxa de Licença (2019)", "Details", "Mob")</li>
        <li>@Html.ActionLink("Emissão de 2ª via do carnê de Vigilância Sanitária (2019)", "Details", "Mob")</li>
        <li>@Html.ActionLink("Consulta de Processos", "Details", "Mob")</li>
        <li>@Html.ActionLink("Emissão de 2ª via da contribuição de iluminação pública (CIP)(2019)", "Details", "Mob")</li>
        <li>@Html.ActionLink("Consultar endereço da contribuição de iluminação pública (CIP)(2019)", "Details", "Mob")</li>
        <li>@Html.ActionLink("Impressão dos detalhes de um boleto", "Details", "Mob")</li>
        <li>@Html.ActionLink("Comprovante de inscrição e de situação cadastral", "Details", "Mob")</li>
        <li>@Html.ActionLink("Download da declaração cadastral (DECA)", "Details", "Mob")</li>
        <li>@Html.ActionLink("Importação de arquivos Via Rápida Empresa (VRE)", "Details", "Mob")</li>
        <li>@Html.ActionLink("Renovação de alvará de funcionamento", "Details", "Mob")</li>
        <li>@Html.ActionLink("Emissão de certidões/Verificar autenticidade ", "Details", "Mob")</li>
        <li>@Html.ActionLink("Dados cadastrais de uma empresa", "Details", "Mob")</li>
        <li>@Html.ActionLink("Impressão de comprovante de pagamento", "Details", "Mob")</li>
        <li>@Html.ActionLink("Situação dos débitos ref. a ISS Fixo, Taxa de Licença e Vig. Sanitária", "Details", "Mob")</li>
    </ul>
</div>



